[submodule "third_party/linkerhand-python-sdk"]
	path = third_party/linkerhand-python-sdk
	url = https://github.com/linker-bot/linkerhand-python-sdk.git

[submodule "third_party/xrobotoolkit/XRoboToolkit-PC-Service-Pybind"]
	path = third_party/xrobotoolkit/XRoboToolkit-PC-Service-Pybind
	url = https://github.com/YanjieZe/XRoboToolkit-PC-Service-Pybind.git
	ignore = untracked
